.header {
  @apply relative min-w-full min-h-screen;
}

.header-container {
  @apply max-w-screen-xl mx-auto px-5 min-h-screen;
}

.header__text-container {
  @apply flex flex-col justify-center w-1/2 max-w-lg min-h-screen;
}

.header__carousel {
  @apply absolute top-0 right-0 min-h-screen max-h-screen w-2/5;

  .header__carousel-img {
    background-image: url(https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/17880207_286366411786364_7398929434863517912_o.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=cgrsX_UpFQMAX8QesdS&_nc_ht=scontent-frt3-1.xx&oh=fdf7c34e4d4b2cd0f1563e951cda033e&oe=5F9F608B);
    background-image: linear-gradient(
        91.13deg,
        rgba(18, 17, 12, 0) 0%,
        rgba(18, 17, 12, 0.41) 100%
      ),
      url(https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/17880207_286366411786364_7398929434863517912_o.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=cgrsX_UpFQMAX8QesdS&_nc_ht=scontent-frt3-1.xx&oh=fdf7c34e4d4b2cd0f1563e951cda033e&oe=5F9F608B);
    -webkit-transition: transform 5s linear;
    -o-transition: transform 5s linear;
    -webkit-transition: -webkit-transform 5s linear;
    transition: -webkit-transform 5s linear;
    -o-transition: -o-transform 5s linear;
    transition: transform 5s linear;
    transition: transform 5s linear, -webkit-transform 5s linear,
      -o-transform 5s linear;
    width: 100%;
    min-height: calc(100vh - 154px);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__carousel-btn {
    @apply text-xl font-normal;
  }

  .header__carousel-dots {
  }
}
