.header {
  @apply relative min-w-full min-h-screen;
}

.header-container {
  @apply max-w-screen-xl mx-auto px-5 min-h-screen;
}

.header__text-container {
  @apply flex flex-col justify-center w-45% min-h-screen;
}

.header__carousel {
  @apply absolute top-0 right-0 w-45% min-h-screen max-h-screen select-none;

  .slider-list::after {
    content: "";
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    width: 10000%;
    height: 3.875rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slider-control-centerleft,
  .slider-control-centerright {
    top: auto !important;
    bottom: 45px;
    transform: none !important;

    button {
      @apply text-lg font-normal;
      padding: 20px !important;
      background: none !important;
      text-transform: none !important;
    }
  }

  .header__carousel-img {
    object-fit: cover;
    transition: transform 5s linear;
    width: 100%;
    min-height: calc(100vh - 50px);
  }

  .header__carousel-text {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-color: white;
  }

  .slider-control-bottomcenter {
    bottom: 70px !important;

    ul {
      top: auto !important;
    }

    li {
      line-height: 0;
      padding: 0 8px;
    }

    button {
      transform: scale(2);
    }

    svg {
      fill: white;
    }
  }
}
