@tailwind base;
@tailwind components;

:root {
  --primary-color: #489ecd;
}

@import "./_fonts.css";
@import "./_nav.css";
@import "./home/home.css";
@import "./staff/staff.css";

*,
body {
  @apply m-0 p-0 font-normal leading-tight box-border;
  font-size: 16px;
  font-family: "rawline", sans-serif;
}

*:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(72, 158, 205, 0.3);
}

a {
  @apply no-underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-primary;
}

h1,
h3,
h5 {
  @apply font-bold;
}

h2,
h4,
h6 {
  @apply font-normal;
}

h1,
h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3,
h4 {
  @apply text-base sm:text-xl md:text-2xl;
}

h5,
h6 {
  @apply text-xs sm:text-sm md:text-base;
}

p {
  @apply text-text-secondary text-base sm:text-lg md:text-xl font-normal;
}

b {
  @apply font-bold;
  font-size: inherit;
}

.bttn {
  @apply p-5 bg-gradient-to-b from-light-blue-gradient-top to-light-blue-gradient-bottom text-white text-lg sm:text-xl md:text-2xl font-bold rounded-md ease-linear duration-200 select-none;

  &:hover {
    @apply opacity-75;
  }

  &.about--bttn {
    @apply pt-3 pb-4 px-8;
  }
}

.container {
  @apply max-w-screen-xl mx-auto px-3 sm:px-5;
}

@tailwind utilities;
