.nav {
  @apply fixed z-20 flex flex-col items-center h-full px-8 py-8;
  top: 0;
  left: 0;

  @media (max-width: 1500px) {
    @apply flex-row w-full h-auto p-5;
    position: sticky;
    top: 0;

    .nav__logo {
      @apply w-16 h-16;
    }

    .nav__btn {
      @apply w-16 h-16 mt-0 ml-5;
      border-width: 3px;

      .nav__btn-box {
        width: 2rem;
      }

      .nav__btn-inner,
      .nav__btn-inner::before,
      .nav__btn-inner::after {
        width: 2rem;
        height: 3px;
      }
    }
  }

  &.nav-close {
    @media (max-width: 1500px) {
      @apply bg-white bg-opacity-90;
      border-bottom: 2px solid #f3f3f3;
      -webkit-backdrop-filter: saturate(90%) blur(8px);
      backdrop-filter: saturate(90%) blur(8px);
    }
  }
}

.nav__logo {
  @apply w-20 h-20;
}

/* Nav menu button */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.nav__btn {
  @apply flex items-center justify-center w-20 h-20 mt-8 overflow-visible duration-200 ease-linear border-4 rounded-md cursor-pointer border-text-primary;
  transition-property: opacity, filter;

  &:hover {
    @apply opacity-60;
  }

  &.active {
    @apply border-white;

    &:hover {
      @apply opacity-60;
    }

    .nav__btn-inner,
    .nav__btn-inner::before,
    .nav__btn-inner::after {
      @apply bg-white;
    }

    .nav__btn-inner {
      transform: translate3d(0, 10px, 0) rotate(45deg);
    }

    .nav__btn-inner::before {
      @apply opacity-0;
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    }

    .nav__btn-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-90deg);
    }
  }

  .nav__btn-inner {
    top: 2px;

    &::before {
      @apply duration-200 ease-ease;
      top: 10px;
      transition-property: transform, opacity;
    }

    &::after {
      top: 20px;
    }
  }
}

.nav__btn-box {
  @apply relative w-10 h-6;
}

.nav__btn-inner {
  @apply block;
  top: 50%;
  margin-top: -2px;
}

.nav__btn-inner,
.nav__btn-inner::before,
.nav__btn-inner::after {
  @apply absolute w-10 h-1 transition-transform duration-200 rounded-md bg-text-primary ease-ease;
}

.nav__btn-inner::before,
.nav__btn-inner::after {
  @apply block;
  content: '';
}

.nav__btn-inner::before {
  top: -10px;
}

.nav__btn-inner::after {
  bottom: -10px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Register button */
/* ----------------------------------- */
.bttn.reg--bttn {
  @apply flex items-center px-12 text-xl;

  .reg--bttn-icon {
    @apply w-6 h-6;

    @media (max-width: 1500px) and (min-width: 640px) {
      @apply mr-3;
    }
  }

  .reg--bttn-text {
    @apply hidden text-lg font-bold;

    @media (max-width: 1500px) and (min-width: 640px) {
      @apply inline-block;
    }
  }

  @media (max-width: 639px) {
    @apply p-5;
  }

  @media (min-width: 1501px) {
    @apply p-7;
  }
}

.nav__menu {
  @apply z-10 flex justify-center invisible overflow-hidden duration-200 ease-linear opacity-0 bg-primary;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;

  &.active {
    @apply visible duration-200 ease-linear opacity-100;
  }

  .nav__menu-container {
    @apply relative flex w-full max-w-screen-xl px-4 mx-auto overflow-hidden sm:px-8;
  }

  .nav__menu-links {
    @apply absolute flex flex-col items-center justify-center w-full h-full overflow-x-hidden overflow-y-auto duration-300 ease-linear;
    top: 0;
    left: 0;

    &.nav__menu-links-show {
      @apply visible transform opacity-100;
      transform: translate3d(0, 0, 0);
    }

    &.nav__menu-links-hide {
      display: none;
    }

    &.nav__menu-additional-links-hide {
      @apply invisible transform translate-x-full opacity-0;
    }

    &.nav__menu-general-links-hide {
      @apply invisible transform -translate-x-full opacity-0;
    }
  }

  .nav__menu-general-link {
    @apply mt-6 text-5xl font-bold text-white duration-200 ease-linear;

    &:hover {
      @apply opacity-60;
    }

    &.red {
      @apply text-red-500;
    }
  }

  .nav__menu-additional-link {
    @apply mt-2 text-xl font-bold text-white duration-200 ease-linear;

    &:hover {
      @apply opacity-60;
    }
  }

  .nav__menu-link-more {
    @apply relative;

    &::before {
      @apply absolute block w-5 h-5 transform -rotate-45 border-white border-solid;
      content: '';
      border-width: 0px 8px 8px 0px;
      top: 28px;
      right: -40px;
    }
  }
}
