@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import './_variables.css';
@import './_fonts.css';
@import './_modal.css';
@import './_table.css';
@import './_block.css';
@import './_nav.css';
@import './_footer.css';
@import './home/home.css';
@import './staff/staff.css';

*,
body {
  @apply box-border p-0 m-0 font-normal;
  font-size: 16px;
  font-family: 'rawline', sans-serif;
}

*:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(72, 158, 205, 0.3);
}

a {
  @apply no-underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-primary;
}

h1,
h3,
h5 {
  @apply font-bold;
}

h2,
h4,
h6 {
  @apply font-normal;
}

h1,
h2 {
  @apply text-2xl sm:text-3xl md:text-4xl leading-tight;
}

h3,
h4 {
  @apply text-base sm:text-xl md:text-2xl;
}

h5,
h6 {
  @apply text-xs sm:text-sm md:text-base;
}

p {
  @apply text-base font-normal text-text-secondary sm:text-lg md:text-xl;
}

b {
  @apply font-bold;
  font-size: inherit;
}

.bttn {
  @apply p-5 text-lg font-bold text-white duration-200 ease-linear rounded-md select-none bg-gradient-to-b from-light-blue-gradient-top to-light-blue-gradient-bottom sm:text-xl md:text-2xl;

  &:hover {
    @apply opacity-75;
  }

  &.about--bttn {
    @apply px-8 pt-3 pb-4;
  }
}

.container {
  @apply max-w-screen-xl px-3 mx-auto sm:px-5;
}

.custom-list {
  @apply mt-6;

  .custom-list-heading {
    @apply text-text-secondary text-base sm:text-lg md:text-xl font-bold;
  }

  .custom-list-container {
    @apply flex mt-2;

    &:first-child {
      @apply mt-0;
    }
  }

  .custom-list-symbol::before {
    content: '●';
    @apply mr-4 text-xl text-primary;
  }

  .custom-list-item {
    @apply text-base text-text-secondary sm:text-lg md:text-xl;
  }
}

.custom-title {
  @apply mt-12 text-base sm:text-xl md:text-2xl font-bold;
}

.custom-text {
  @apply mt-6 text-text-secondary text-base sm:text-lg md:text-xl font-normal;
}

.custom-text-link {
  @apply text-primary text-base sm:text-lg md:text-xl font-normal underline;
}

.custom-text-important {
  @apply my-8 p-8 bg-primary-10 text-base sm:text-lg md:text-xl font-bold border-l-4 border-primary;
}

.custom-text-warning {
  @apply my-8 p-8 bg-secondary-10 text-base sm:text-lg md:text-xl font-bold border-l-4 border-secondary;
}

.custom-text-info {
  @apply mt-2 text-text-secondary text-xs;
}

@import 'tailwindcss/utilities';
